<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body>
        {{>header}}
         <img src="..\public\img\SAICHARAN_NEW_PHOTIO.jpg">
         <h2>Created by {{name}}</h2>
         {{>footer}}
    </body>
</html>
