<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body>
      {{>header}}
      <h2>{{helpText}}</h2>
      {{>footer}}
    </body>
</html>